#gridTopPane, #ritghtTabPane {
    -fx-border-color: rgb(221, 221, 221);
    -fx-border-width: 2;
}

.label_pawn_color {
    -fx-border-color: rgb(221, 221, 221);
    -fx-border-width: 2;
}

.list-view .list-cell {
    -fx-background-color: white;
    -fx-padding: 0 10 0 10;
}
